<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PSVR WebHID test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <button id="allow">Go</button> 
    <br/>
    <h3>Orientation</h3>
    <div class="orientation">
      Yaw: <span class="value" id="yaw"></span>
      Pitch: <span class="value" id="pitch"></span>
      Roll: <span class="value" id="roll"></span>
    </div>
    <h3>Buttons</h3>
    <div class="buttons">
      <span class="psvrButton" id="minus">-</span>
      <span class="psvrButton" id="plus">+</span>
      <span class="psvrButton" id="mute">Mute</span>
    </div>
  </body>
</html>
